**Topics**<br>
   - Tuple<br>
   - Dictionary<br>

In [1]:
empty = list()
empty1 = []

In [2]:
t = (1,2)
print(t)

(1, 2)

In [3]:
print(t[0])

1

In [4]:
t.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
t[0] = 10
t.append(6)

TypeError: 'tuple' object does not support item assignment

In [6]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [15]:
t.index(2)
#t.index(0)

1

In [10]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [9]:
t.count(1)

1

In [17]:
t1 = (1,2,3,4,1,1)
print(t1.count(1))
print(t1.count(5))
print(sum(t1),max(t1),min(t1))

3
0
12 4 1

In [12]:
t1.count(5)

0

In [14]:
sum(t1),max(t1),min(t1)

(12, 4, 1)

In [20]:
t2 = (34,'python',True,89.5)
print(t2)
print(t2[0])
print(t2[2:])
print(t2[1][2])

(34, 'python', True, 89.5)
34
(True, 89.5)
t

In [19]:
t2[1][2]

't'

In [23]:
t3 = (3,4,(34,67))
print(t3[2])
print(t3[2][1])

(34, 67)
67

Create a list of lists.where each sublist consists 3 subject marks of the student<br>
In each sublist add a new element which is total of three subject marks

In [24]:
student_marks = [[23,56,89],[45,56,76],[99,65,34]]
print(student_marks)

[[23, 56, 89], [45, 56, 76], [99, 65, 34]]

In [37]:
for student in range(len(student_marks)):
    #print(student_marks[student])
    student_marks[student].append(sum(student_marks[student]))
student_marks

[[23, 56, 89, 168], [45, 56, 76, 177], [99, 65, 34, 198]]

In [26]:
a = [6,8,9]
a.append(sum(a))

In [27]:
a

[6, 8, 9, 23]

In [28]:
for i in a:
    print(i)

6
8
9
23

In [30]:
#[7,9,10,24]
for i in a:
    print(i+1)

7
9
10
24

In [31]:
a + 1

TypeError: can only concatenate list (not "int") to list

In [32]:
# New list with values plus one
aplus = []
for i in a:
    aplus.append(i+1)
print(aplus)

[7, 9, 10, 24]

In [33]:
print(a)

[6, 8, 9, 23]

In [34]:
list(range(len(a)))

[0, 1, 2, 3]

In [35]:
for i in range(len(a)):
    a[i] = a[i] + 1
print(a)

[7, 9, 10, 24]

In [36]:
# To access element
for i in a:
    print(i,end =' ')
# Line gap between two lists
print()
# To access the elements by using index   
for i in range(len(a)):
    print(a[i],end =' ')

7 9 10 24
7 9 10 24

**Dictionary**
- Empty dictionary {},dict()
- {key1.value1,key2:value2}
- key and value are mapped by :
- items are seperated by ,
- each item in a dictionary is key,value pair
- keya are unique values

In [38]:
d = {'maths':56,'english':67,'physics':45}
d['maths']

56

In [50]:
d['physics'] = 77
d

{'maths': 56, 'english': 67, 'physics': 77, 'phython': 78}

In [51]:
# Add a new item to the dictionary
d['phython'] = 78
d

{'maths': 56, 'english': 67, 'physics': 77, 'phython': 78}

In [52]:
# Accessing the keys using for loop
for i in d:
    print(i,end=' ')

maths english physics phython

In [53]:
# Accessing the values using for loop
for i in d:
    print(d[i],end=' ')

56 67 77 78

In [54]:
sum(d)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
# To calculate the sum of the values in the for loop
s = 0
for i in d:
    s += d[i]
print(s)

278

In [56]:
# To access keys 
print(d.keys())
# To access values
print(d.values())
# To access key value pairs
print(d.items()) # List of tuples each tuple is a key value pair

dict_keys(['maths', 'english', 'physics', 'phython'])
dict_values([56, 67, 77, 78])
dict_items([('maths', 56), ('english', 67), ('physics', 77), ('phython', 78)])

In [57]:
# To calculate the sum of the values in a dictionary
sum(d.values())

278

In [58]:
for key,value in d.items():
    print(key,':',value)

maths : 56
english : 67
physics : 77
phython : 78

In [59]:
help(d.update)

Help on built-in function update:

update(...) method of builtins.dict instance
    D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
    If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
    If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
    In either case, this is followed by: for k in F:  D[k] = F[k]

In [60]:
d.update({'total':sum(d.values())})
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'phython': 78, 'total': 278}

In [61]:
# To remove an item
d.pop('total')
print(d)

{'maths': 56, 'english': 67, 'physics': 77, 'phython': 78}

Create a dictionary with 3 students data<br>
key-student name<br>
value-list of 3 subject marks of the student

In [62]:
std_marks = {'Ram':[77,45,34],'Sandy':[56,78,94],'Rose':[67,89,92]}
std_marks

{'Ram': [77, 45, 34], 'Sandy': [56, 78, 94], 'Rose': [67, 89, 92]}

Add total marks as the last element in the list for each student<br>
Example o/p:<br>
{'Ram':[77,45,34,156]}

In [63]:
std_marks['Ram']

[77, 45, 34]

In [66]:
for k,v in std_marks.items():
    std_marks[k].append(sum(v))
std_marks

{'Ram': [77, 45, 34, 156],
 'Sandy': [56, 78, 94, 228],
 'Rose': [67, 89, 92, 248]}