# Jupyter Markdown
## Jupyter Markdown
### Jupyter Markdown
#### Jupyter Markdown
##### Jupyter Markdown
###### Jupyter Markdown

- Point 1
  - **Sub point 1.1**
  - *Sub point 1.2*
  - ***Sub point 1.3***
- Point 2
- Point 3

### Python Introduction
- Python 3
- Python can be used as Functional Programming
- Python can be used as Scripting Programming
- Python initially designed by **Guido Van Rossum** in 1991

In [3]:
# Input and Output Function
# Output Function
print("Hello World")
print("Welcome to Python Programming")

Hello World
Welcome to Python Programming

In [4]:
print("markdown cell",end = ' ')
print("code cell")

markdown cell code cell

In [5]:
# input Function
print("Enter Your Name : ")
a = input(' ')
print('Your Name is ',a)

Enter Your Name :
 priyanka
Your Name is  priyanka

### inserting an image using markdown
![image](https://therightsofnature.org/wp-content/uploads/2018/01/turkey-3048299_1920-1366x550.jpg)

## inserting a site using markdown
[site](https://www.google.co.in/search?q=nature&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjgqdzU6bHmAhV5xjgGHa3MBHgQ_AUoAXoECBYQAw&biw=1366&bih=657#imgrc=3GBeGyplemnTdM:)

# Fundamental data types

# 1. int
# 2. float
# 3. complex
# 4. boolean
# 5. string

In [6]:
#Basic example

x = 10
print(type(x))
print(x)

<class 'int'>
10

In [7]:
a = complex(5,4)
print(a)

(5+4j)

In [8]:
x = 3+5j
y = 10.25
z = 10
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'float'>
<class 'int'>

In [11]:
x = 3+5j
y = 10.25
z = 10
print(type(x),type(y),type(z))

<class 'complex'> <class 'float'> <class 'int'>

In [13]:
c1= 5+6j #complex
c2= 4+5j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+11j)
(1+1j)
(-10+49j)

In [15]:
a = 10 #boolean
b = 5
a > b

True

In [16]:
#strings
s1 = "abc"
s2 = "xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [17]:
s1 = "100"
print(type(s1))

<class 'str'>

# Datatype conversions

In [18]:
i = 100
print(type(i))
s1 = str(i) #str() converts the input into string type
print(type(s1))
f1 = float(i) #float() converts the input into float type
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [19]:
s1 = "200"
print(type(s1))
a = int(s1)
print(type(b))
f = 2.5
a = int(f)
print(type(a))
print(a)

<class 'str'>
<class 'int'>
<class 'int'>
2

In [20]:
# A number is given 23456
# Digit Count
s =  23456
print(len(str(s)))

5

# Operators
## 1. Arithmetic operators----->,+, * ,/,//,%,**
## 2. Logical operators----->and,or,not
## 3. Relational operators-----><>,<=>,=,==,!=
## 4. Membership operators----->in,Not in

In [21]:
#Arithmetic Operators
a = 20
b = 10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

30
10
200
2.0
2
0
10240000000000

In [22]:
#Relational Operators
x = 30
y = 10
print(x==y)
print(x!=y)
print(x<y)
print(x>y)

False
True
False
True

In [26]:
#Logical Operators
x = 20
y = 30
print(x>=10 and x<=20)
print(x>=5 or x<=20)
print(not x)

True
True
False

In [28]:
#Membership Operators
str1 = "abc"
print('a' in str1)
print('a' not in str1)
print('d' not in str1)

True
False
True

# Conditional Statements:
* 1. if
* 2. elif
* 3. else
## syntax
* ### if condition:
##### statements
* ### elif condition:
##### statements
* ### else:
##### statements

In [29]:
# To Check given number is even or odd
n = int(input("enter the number:"))
if n%2 == 0:
    print("Even")
else:
    print("Odd")

enter the number:5
Odd

In [32]:
# To check given number is perfectly multiple of 3 and 5
n = int(input("enter the number"))
if n%3 == 0 and n%5 == 0:
    print("Yes")
else:
    print("No")

enter the number15
Yes

In [35]:
# To check the given number is positive,negative or zero
n = int(input("enter the number:"))
if (n>0):
    print("positive")
elif (n==0):
        print("zero")
else:
    print("negative")

enter the number:-5
negative

In [37]:
# To check the given year is leap year or not
n = int(input("enter the year"))
if n%4 ==0:
    print("leap year")
else :
    print("not a leap year")

enter the year1999
not a leap year

In [38]:
# To check the person is eligible to vote or not
n = int(input("enter the number:"))
if n>=18: 
    print("eligible")
else :
    print("not eligible")

enter the number:32
eligible