**Loops**

**For Loop Syntax**

In [1]:
for i in "GITAM":
    print(i)

G
I
T
A
M

- range(start,stop,step)
- range(stop)
- range(start,stop)

In [4]:
# Default values for start=0,step=1
for i in range(5):
    print(i,end='\t')

0	1	2	3	4

In [6]:
for i in range(5,10):
    print(i,end='\t')

5	6	7	8	9

In [5]:
for i in range(5,10):
    print(i,end=' ')

5 6 7 8 9

In [8]:
for i in range(5,100,10):
    print(i,end=' ')

5 15 25 35 45 55 65 75 85 95

In [9]:
for i in range(100,5,-10):
    print(i,end=' ')

100 90 80 70 60 50 40 30 20 10

In [10]:
for i in range(-100,-50,10):
    print(i,end=' ')

-100 -90 -80 -70 -60

- Generate even numbers below 100
- Generate multiples of 7 in(23,140)both 23 and 140 are inclusive

In [11]:
for i in range(0,100,2):
    print(i,end='\t')

0	2	4	6	8	10	12	14	16	18	20	22	24	26	28	30	32	34	36	38	40	42	44	46	48	50	52	54	56	58	60	62	64	66	68	70	72	74	76	78	80	82	84	86	88	90	92	94	96	98

In [13]:
for i in range(28,141,7):
    print(i,end=' ')

28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

In [15]:
for i in range(23,141):
    if i%7==0:
        print(i,end='\t')

28	35	42	49	56	63	70	77	84	91	98	105	112	119	126	133	140

 While Syntax:
 
        initialization
        while condition:
              statements
              increment/decrement(variable updation)

In [18]:
i=23
while i<=140:
    if i%7==0:
        print(i,end=' ')
    i = i+1

28 35 42 49 56 63 70 77 84 91 98 105 112 119 126 133 140

**Read the numbers from keyboard. Stop the reading whenever user enters done**

 Example:
    
    Input
    12
    45
    done

In [2]:
n = input("enter a number:")
while n!="done":
    print(n)
    n = input("enter a number:")

enter a number:48
48
enter a number:31
31
enter a number:56
56
enter a number:done

vowel count in a string<br>
Example :Gitam<br>
o/p : 2<br>

In [9]:
n = input('string:')
c = 0
for each in n:
    if each in 'aeiouAEIOU':
        c = c+1
print(c)

string:Gitam
2

In [4]:
n = input('string:')
c = 0
for each in n:
    if each in 'aeiouAEIOU':
        c = c+1
        print(c)

string:Gitam
1
2

Specific character count in a string<br>
i/p : Abrakadabra, a <br>
o/p : 4 <br>

In [3]:
n = input('string:')
ch = input('element:')
c = 0
for each in n:
    if each == ch:
        c = c+1
print(c)

string:abarakadabra
element:a
6

Check the vowel count and consonant count in a string.If both are equal print Lucky name<br>
*constraints:There are only alphabets in the string*<br>
 i/p : gita<br>
 o/p : lucky name<br>

**Lists**<br>
To create an empty list
   - list()
   - []

In [5]:
empty_list = []
empty_list1=list()
print(empty_list,empty_list1)

[] []

In [6]:
marks = [34,67,78,89]

In [7]:
for i in marks:
    print(i)

34
67
78
89

In [9]:
# To access for first element
print(marks[0])
print (marks[-4])
print(marks[-len(marks)])
# No of elements in the list
print(len(marks))
# To access the first element
print(marks[3])
print(marks[len(marks)-1])
print(marks[-1])

34
34
34
4
89
89
89

In [10]:
marks

[34, 67, 78, 89]

In [11]:
# updating the value in a list
marks[0] = 98
print(marks)

[98, 67, 78, 89]

In [12]:
L = list(range(2,32,2))
L

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [14]:
# Slicing listname[start:stop:step]
print(L[:3])
print(L[0:3:1])

[2, 4, 6]
[2, 4, 6]

In [15]:
# To get alternate elements from the start
print(L[0::2])
print(L[0:len(L):2])

[2, 6, 10, 14, 18, 22, 26, 30]
[2, 6, 10, 14, 18, 22, 26, 30]

In [16]:
# Reverse the list uing slicing
print(L[::-1])

[30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [18]:
print(L[-1:-5:-1]) # Elements with indices[-1,-2,-3,-4]

[30, 28, 26, 24]

In [19]:
marks

[98, 67, 78, 89]

In [20]:
marks[5]

IndexError: list index out of range

In [24]:
# To append an element
print(marks)
marks.append(55)
print(marks)

[98, 67, 78, 89, 55]
[98, 67, 78, 89, 55, 55]

In [25]:
# To remove last element
print(marks)
marks.pop()
print(marks)

[98, 67, 78, 89, 55, 55]
[98, 67, 78, 89, 55]

In [26]:
# remove the element based on index
print(marks)
marks.pop(2)
print(marks)

[98, 67, 78, 89, 55]
[98, 67, 89, 55]

In [27]:
# remove the element based on value
print(marks)
marks.remove(67)
print(marks)

[98, 67, 89, 55]
[98, 89, 55]

In [28]:
marks

[98, 89, 55]

In [29]:
m1 = [34,67,99]

In [30]:
# [98,89,55,34,67,99]
marks.append(m1)

In [31]:
marks

[98, 89, 55, [34, 67, 99]]

In [32]:
marks.pop()

[34, 67, 99]

In [36]:
print(marks)

[98, 89, 55, 34, 67, 99]

In [33]:
marks.extend(m1) # Concatination of two lists

In [34]:
marks

[98, 89, 55, 34, 67, 99]

In [38]:
marks.append(98)
print(marks)
print(marks.count(98))

[98, 89, 55, 34, 67, 99, 38, 98]
2

In [39]:
marks.pop()

98

In [40]:
s = "Abrakadbra"
print(s[0])
print(s[-1])
print(s[:4])

A
a
Abra

In [41]:
s[0]='a' # strings are immutable

TypeError: 'str' object does not support item assignment

**User defined Functions**

In [42]:
def Hello():
    print('Welcome to Gitam')

In [43]:
Hello()

Welcome to Gitam

In [44]:
print(print('check'))

check
None

In [45]:
# With an argument and without return value
def helloWithName(name):
    print('Welcome to Gitam',name)

In [47]:
helloWithName('Python')

Welcome to Gitam Python

In [55]:

def power(a,b): 
    '''This is a function to calculate a power b.
    The return value for the function is a**b
    Example:
    >>> power(3,2)
    >>> 9
    '''
    return a**b

In [50]:
power(2,3)
print(res)

8

In [51]:
def power1(a,b):
    print(a**b)

In [52]:
res1 = power1(2,3)
print(res1)

8
None

In [53]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [56]:
help(power)

Help on function power in module __main__:

power(a, b)
    This is a function to calculate a power b.
    The return value for the function is a**b
    Example:
    >>> power(3,2)
    >>> 9

In [57]:
helloWithName()

TypeError: helloWithName() missing 1 required positional argument: 'name'

In [64]:
def helloWithName1(name='Mr x'):
    print('welcome to gitam',name)

In [65]:
helloWithName1()

welcome to gitam Mr x

In [66]:
helloWithName1('Python')

welcome to gitam Python

In [70]:
def helloWithFullName(fname,lname='Gitam'):
    print('Welcome to Gitam',fname,lname)

In [71]:
helloWithFullName('Hyd')

Welcome to Gitam Hyd Gitam

In [72]:
helloWithFullName(fname='hyd')

Welcome to Gitam hyd Gitam

In [73]:
helloWithFullName(lname='Python')

TypeError: helloWithFullName() missing 1 required positional argument: 'fname'

In [74]:
def helloWithFullName(fname='hyd',lname):
    print('welcome to gitam',fname,lname)

SyntaxError: non-default argument follows default argument (<ipython-input-74-deeeacb12699>, line 1)

In [75]:
while 0:
    print('check')

In [76]:
if -10.5:
    print('check')

check

In [77]:
if '':
    print('check')

In [79]:
n=5
while n==7:
    print(n)
    n=n+1

In [80]:
for i in range(5,5):
    print(i)

In [81]:
for i in range(5,-5):
    print(i)

In [82]:
L2 = list(range(5,5))
L3 = list(range(5,-5))

In [83]:
print(L2,L3)

[] []

In [84]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [85]:
s = 'gitam'
s.capitalize()

'Gitam'

In [86]:
s.upper()

'GITAM'

In [87]:
s.lower()

'gitam'

In [88]:
# priyanka Kalal
# Priyanka Kalal
#PRIYANKA KALAL
#pRIyanka Kalal
#     priyanka Kalal
#o/p Priyanka Kalal

In [89]:
# strip,rstrip,lstrip,capitalize,swapcase,upper,lower,title,split

Calculate how many unique characters are there in a string<br>
Calculate the number of words in a paragraph<br>
Write a function is Prime to check whether the given number is prime or not<br>
Argument for the function is number.Return value is True or False<br>
Explore about pass,continue and break in loops<br>